*{
    margin:0;
    padding:0;
    font-family: Helvetica;

    /*global colors*/
    --borderblue:rgb(28, 120, 180);
    --primarycolor: dodgerblue;
    --secondarycolor: rgb(57, 147, 177);
    --terciarycolor: gray;
    --lightcolor:white;
    --accentcolor:var(var(--borderblue));
    --boxradious: 10px;
    --boxshadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 1fr 4.5fr;
}


 /* Header Section */
.header{
    padding-top: 10px;
    grid-area:1 / 2/ 2 / 3;
    background-color: white;
    display: grid;
    grid-template-columns:  1fr 1fr 0.3fr 0.6fr;
    grid-template-rows: 4fr 5fr;
    box-shadow: var(--boxshadow);
}

.search-section{
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.search-section input{
    padding: 0 1rem;
    margin: 0 1.5rem;
    background-color: var(--secondarycolor);
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 24px;
}

.searchbar input:focus {
    outline: none;
}

.profile{
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.user-pfp > img{
    padding-right: 1.5rem;
}

.user-greeting > p:first-child{
    font-size: 1.5rem;
    
}

.user-greeting > p:last-child{
    font-size: 1.5rem;
    font-weight: bold;
}

.action-btn{
    grid-area: 2 / 3 / 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.action-btn > button{
    height: 3rem;
    width: 6rem;
    border-radius: 40px;
    background-color: var(--primarycolor);
    color:var(--lightcolor);
    font-weight: bold;
    font-size: 1.2rem;
    border-style: none;
}

/* Sidebar Section */
.sidebar{
    color:white;
    background-color: var(--borderblue);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 65px 200px 120px;
    padding-top: 1rem;
}

.sidebar a {
    /* Text decorations */
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125rem;
}

.sidebar a:hover {
    color: whitesmoke;
    text-shadow: 1px 1px 0 var(--darkcrimson);
}

.sidebar-group {
    /* Layout of items with the icons next to them */
    display: grid;
    grid-template-columns: 52px max-content;
    /* Prettying up & aligning things */
    align-items: center;
    padding-left: 8px;
}

.sidebar-group .icon {
    /* Align the images to the center of the grid track */
    justify-self: center;
    /* Change images from black to white */
    filter: invert(100%);
}